.leaflet-container {
	width: 100%;
	height: 100vh;
}

.leaflet-popup-tip {
	background-color: #001529;
}

.leaflet-popup-content-wrapper {
	background-color: #001529;
}

.leaflet-popup-content {
	color: #fff;
	background-color: #001529;
	margin: 5px 10px 0px 5px;
}

.map-container {
	overflow-y: hidden !important;
	padding: 0 !important;
	margin: 0 !important;
	max-height: calc(100ch - 64px);
}

.create-collaborator-popup p {
	color: lightcoral;
}

.create-collaborator-popup .leaflet-popup-tip {
	background-color: #fff;
}

.create-collaborator-popup .leaflet-popup-content-wrapper {
	background-color: #fff;
}

.create-collaborator-popup .leaflet-popup-content {
	color: #001529;
	background-color: #fff;
}
