.header-icons {
    display: flex;
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.logout {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
    right: 0;
    position: absolute;
}

.logout:hover {
    color: #1890ff;
}

.user-name-block {
    color: black;
    font-size: 14px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
    right: 12em;
    position: absolute;
}

.logout:hover {
    color: #1890ff;
}

.site-layout {
    height: 100vh;
}

.site-layout .site-layout-background {
    background: #fff;
}

span.anticon-menu-unfold {
    width: 50px !important;
}

span.anticon-menu-fold {
    width: 50px !important;
    ;
}
