.create-collaborator-popup .leaflet-popup-content {
    min-width: 25vw;
    text-align: center;
}

.lat-lon-item {
    flex-direction: unset !important;
}

.lat-lon-input {
    margin-top: -0.7em !important;
}

