.login-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    font-size: 20px;
    padding: 50px;
    z-index: 100;

    opacity: 0.9;
    background-color: white;

    text-align: center;
}

.password-input {
    margin-bottom: 15px;
}

.login-button {
    margin: 5px !important;
}

body {
    background-image: url("../../assets/image/background.jpg");
    background-size: 100%;
}
