@import '~antd/dist/antd.css';

main {
    margin: 0 !important;
    padding: 0 !important;;
    max-height: calc(100vh - 64px) !important;;
    overflow-y: auto !important;
}

.leaflet-container {
    overflow-y: hidden !important;
}
